{:builds
 {:cards {:asset-path "/js"
          :modules {:main {:init-fn datafire.cards/main}}
          :compiler-options {:devcards true}
          :output-dir "public/js"
          :target :browser}
  :test {:target :browser-test
         :ns-regexp "datafire.cards"
         :test-dir "public/test"
         :devtools  {:http-port 8021
                     :http-root "public/test"}}
  :run-tests {:target :karma
              :ns-regexp "datafire.cards"
              :output-to "out/run-tests.js"}}
 :dependencies [[org.clojure/core.async "0.6.532"]
                [async-interop "0.1.4"]
                [reagent "0.8.1"]
                [devcards "0.2.6"]
                [datascript "0.18.9"]
                [datascript-transit "0.3.0"]]
 :dev-http {3000 "public"}
 :nrepl {:port 3333}
 :source-paths ["src/main" "src/test"]}